.cont{
    padding-top: 200px;
}
#top{
    background-color: #760F6F;
}
.btn-sign-up{
    padding-left: 850px;
    margin-top: 30px;
    
}
.email{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}
.username{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}
.pwd{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}
.re-pwd{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}