<ion-header>
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="cont">
<div class="email">
        <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input id="email" type="email"></ion-input>
  </ion-item>
</div> 

<div class="username">
    <ion-item>
    <ion-label position="floating" >Username</ion-label>
    <ion-input id="username"></ion-input>
</ion-item>
</div> 

<div class="pwd">
    <ion-item>
    <ion-label position="floating" >Password</ion-label>
    <ion-input id="password" type="Password"></ion-input>
</ion-item>
</div>

<div class="re-pwd">
    <ion-item>
    <ion-label position="floating" >Re Enter Password</ion-label>
    <ion-input id="re-enter" type="Password"></ion-input>
</ion-item>
</div>

<div class="btn-sign-up">
  <ion-button type="submit">Sign Up</ion-button>
</div>
</div>

</ion-content>
